
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:700 ;
  font-style: normal;
 
} 
/* Shared styles */
.display-flex{
  display: flex;

}
.text-light-gray{
 color: #000000;
}
.body{
background-color: #FFFFFF;
position: relative;



} 

/* Heder styles */

.header{
 /* justify-content: space-between;
 align-items: center;
  padding: 10px 20px; */
}
/* navbar related styles */
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
} 
.nav-link{
 
}
.nav-item{
  list-style: none;
 margin-right: 30px;
}
.nav-link{
  display: flex;
  text-decoration: none;
  /* width: 39px;
  height: 24px */
  
}
 .navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
 }      
/* LOGO */
.logo-text{
  display: flex;
  align-items: center;
  gap: 5PX;
}
.logo-text img {
  width: 40px;
  height: auto;
}
/* banner styles */
.banner{
  display: grid;
  grid-template-columns: 50% 50% ;
 
 max-width: 1140px;
align-items: flex-end;
 top: 221px;
 padding: 0px; 
}
.banner-flower{
 
  flex: none;
  margin: 0px 0px;
}
/* Our Plants-CART  1   */
.our-plants{
  text-align: center;
  padding: 40px 20px;
}
.our-plants h2 {
 font-size: 50px;
 font-weight: 700;
}
.cart{
 display: grid;
 grid-template-columns: repeat(4, 1fr);

}

/* responsive media query iphone 15/16  */
@media screen and (max-with) {
  
}